---
layout: page
title: Tags
permalink: /tags/
---

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  {% for tag in site.tags %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <li class="nav-item">
      <a class="nav-link" href="#{{ tag_name }}" role="tab" data-toggle="tab">{{ tag_name }}</a>
    </li>
  {% endfor %}
</ul>

<!-- Tab panes -->
<div class="tab-content">
  {% for tag in site.tags %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <div role="tabpanel" class="tab-pane" id="{{ tag_name }}">
      <ul>
        {% for post in site.tags[tag_name] %}
          <li><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
