<footer>
  <div class="container">
    <div class="text-muted">
      <div class="pull-left">
        Powered with <i class="fa fa-fw fa-heart"></i> by <a href="https://pages.github.io"><b>GitHub</b> Pages</a>
      </div>
      <ul class="list-inline pull-right">
        {% if site.social.email %}
        <li>
          <a href="mailto:{{ site.social.email }}">
            <i class="fa fa-fw fa-envelope"></i>
          </a>
        </li>
        {% endif %}

        {% if site.social.github %}
        <li>
          <a href="https://github.com/{{ site.social.github }}">
            <i class="fa fa-fw fa-github"></i>
          </a>
        </li>
        {% endif %}

        {% if site.social.twitter %}
        <li>
          <a href="https://twitter.com/{{ site.social.twitter }}">
            <i class="fa fa-fw fa-twitter"></i>
          </a>
        </li>
        {% endif %}

        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
          <i class="fa fa-fw fa-rss"></i>
        </a>
      </ul>
    </div>
  </div>
</footer>

<script type="text/javascript" src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.particleground.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
{% include analytics.html %}
