<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="jumbotron text-center" id="main">
      <h1>
        {% if page.url == "/index.html" or page.url == "/" %}
          {{ site.description }}
        {% elsif page.title %}
          {{ page.title }}
        {% elsif post.title %}
          {{ post.title }}
        {% endif %}
      </h1>
    </div>

    <div class="container">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
